{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <!--    is-valid | is-invalid-->

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light w-50" >
        <h1 class="my-4 text-center">{% trans 'Sign up' %}</h1>
        <form method="post">
            {% csrf_token %}

<!--            <div class="form-error">{{ form.non_field_errors }}</div>-->

            {% for field in form %}
            <div class="form-group text-light">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="is-invalid">{{ field.errors }}</div>
            </div>
            {% endfor %}

            <div class="form-group text-center mt-4">
                <input class="btn btn-outline-primary" type="submit" value="{% trans 'Sign up' %}">
            </div>
        </form>
    </div>

{% endblock %}