{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <!--    is-valid | is-invalid-->

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light" style="width: 400px;">
        <h1 class="my-4 text-center">{{ title }}</h1>
        <form action="{% url 'users_create' %}" method="post">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group text-light">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="is-invalid">{{ field.errors }}</div>
            </div>
            {% endfor %}

            <div class="form-group text-center mt-4">
                <input class="btn btn-outline-primary" type="submit" value="{{ title }}">
            </div>
        </form>
    </div>

{% endblock %}