{% extends 'layout.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}Sign up{% endblock %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        {% endfor %}
    {% endif %}

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light" style="width: 400px;">
      <h1 class="my-4 text-center">Sign up</h1>
        <form method="post">
        {% csrf_token %}
        <div class="form-group text-light">
            <label for="id_first_name">First name</label>
            <input type="text" name="first_name" maxlength="150" class="form-control bg-dark text-white" placeholder="first name" title="" required="" id="id_first_name">
        </div>
            <div class="form-group">
                <label for="id_last_name">Last name</label>
                <input type="text" name="last_name" maxlength="150" class="form-control bg-dark text-white" placeholder="last name" title="" required="" id="id_last_name">
            </div>
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" name="username" maxlength="150" autofocus="" class="form-control bg-dark text-white" placeholder="username" title="Required field. No more than 150 characters. Only letters, numbers and @/./+/-/_ characters." required="" id="id_username">
                <small class="form-text text-muted">
                    Required field. No more than 150 characters.<br />
                    Only letters, numbers and @/./+/-/_ characters.
                </small>
                </div>
            <div class="form-group">
                <label for="id_password1">Password</label>
                <input type="password" name="password1" autocomplete="new-password" class="form-control bg-dark text-white" placeholder="password" title="Your password must contain at least 3 characters." required="" id="id_password1">
                <small class="form-text text-muted">
                    <ul>
                        <li>Your password must contain at least 3 characters.</li>
                    </ul>
                </small>
            </div>
            <div class="form-group">
                <label for="id_password2">Confirm password</label>
                <input type="password" name="password2" autocomplete="new-password" class="form-control bg-dark text-white" placeholder="confirm password" title="Please enter your password again to confirm." required="" id="id_password2">
                <small class="form-text text-muted">
                    Please enter your password again to confirm.
                </small>
            </div>
            <div class="form-group text-center mt-4">
                <input class="btn btn-outline-primary" type="submit" value="Sign up">
            </div>
        </form>
    </div>

{% endblock %}