{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<!--    {% if messages %}-->
<!--        {% for message in messages %}-->
<!--          	<div class="alert alert-{{ message.tags }}">-->
<!--            	{{ message }}-->
<!--          	</div>-->
<!--        {% endfor %}-->
<!--    {% endif %}-->

<!--    is-valid | is-invalid-->

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light" style="width: 400px;">
      <h1 class="my-4 text-center">{{ content.header }}</h1>
        <form action="{% url 'users_create' %}" method="post">
        {% csrf_token %}
        <div class="form-group text-light">
            <label for="id_first_name">{{ content.first_name }}</label>
            <input type="text" name="first_name" maxlength="150" class="form-control bg-dark text-white" placeholder="{{ content.first_name }}" title="" required="" id="id_first_name">
        </div>
            <div class="form-group">
                <label for="id_last_name">{{ content.last_name }}</label>
                <input type="text" name="last_name" maxlength="150" class="form-control bg-dark text-white" placeholder="{{ content.last_name }}" title="" required="" id="id_last_name">
            </div>
                <div class="form-group">
                    <label for="id_username">{{ content.username }}</label>
                    <input type="text" name="username" maxlength="150" autofocus="" class="form-control bg-dark text-white" placeholder="{{ content.username }}" title="{{ content.username_msgs }}" required="" id="id_username">
                <small class="form-text text-muted">{{ content.username_msgs }}</small>
                </div>
            <div class="form-group">
                <label for="id_password1">{{ content.password }}</label>
                <input type="password" name="password1" autocomplete="new-password" class="form-control bg-dark text-white" placeholder="{{ content.password }}" title="{{ content.password_msgs }}" required="" id="id_password1">
                <small class="form-text text-muted">
                    <ul>
                        <li>{{ content.password_msgs }}</li>
                    </ul>
                </small>
            </div>
            <div class="form-group">
                <label for="id_password2">{{ content.confirm_password }}</label>
                <input type="password" name="password2" autocomplete="new-password" class="form-control bg-dark text-white" placeholder="{{ content.confirm_password }}" title="{{ content.confirm_password_msgs }}" required="" id="id_password2">
                <small class="form-text text-muted">{{ content.confirm_password_msgs }}</small>
            </div>
            <div class="form-group text-center mt-4">
                <input class="btn btn-outline-primary" type="submit" value="{{ content.header }}">
            </div>
        </form>
    </div>

{% endblock %}