{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light">
        <h1 class="my-4">{{ content.table_name }}</h1>
        <table class="table table-striped">
            <thead>
                <tr class="bg-dark text-light">
                    <th>{{ content.id }}</th>
                    <th>{{ content.username }}</th>
                    <th>{{ content.full_name }}</th>
                    <th>{{ content.created_at }}</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
        {% for user in users %}
        <tr class="bg-dark text-light">
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <a href="{% url 'users_update' user.id %}">{{ content.edit }}</a>
                <br>
                <a href="{% url 'users_delete' user.id %}">{{ content.delete }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}