{% extends 'layout.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}Users{% endblock %}

{% block body %}

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light">
        <h1 class="my-4">Users</h1>
        <table class="table table-striped">
            <thead>
                <tr class="bg-dark text-light">
                    <th>ID</th>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Created at</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
        {% for user in users %}
        <tr class="bg-dark text-light">
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <a href="{% url 'users_update' user.id %}">Edit</a>
                <br>
                <a href="{% url 'users_delete' user.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}