{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block body %}

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light">
        <div class="d-flex my-3">
            <h1 class="flex-grow-1">{% trans 'Labels' %}</h1>
            {% trans 'Create label' as create_btn %}
            {% url 'label_create' as create_url %}
            {% bootstrap_button create_btn button_class="btn btn-outline-primary align-self-center" href=create_url %}
        </div>
        <table class="table table-striped">
            <thead>
                <tr class="bg-dark text-light">
                    <th>ID</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Created at' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for label in labels %}
            <tr class="bg-dark text-light">
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at|date:"d.m.Y " }}<br>{{ label.created_at|date:"H:i" }}</td>
                <td>
                    <a href="{% url 'label_update' label.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'label_delete' label.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}