{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <div class="container wrapper flex-grow-1 mt-5">
        <div class="bg-dark text-light center-block">
            <div class="card-body p-5 text-center">
                  <p class="display-3 mt-5 mb-4">{{ content.header }}</p>
                  <p class="lead mx-auto mb-1" style="width: 500px;">{{ content.greetings }}</p>
                  <p class="mx-auto" style="width: 500px;">{{ content.body }}</p>
            </div>
        </div>
    </div>

{% endblock %}