{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <div class="container wrapper flex-grow-1 mt-5">
        <div class="bg-dark text-light center-block">
            <div class="card-body p-5 text-center">
                {% if request.user.is_authenticated %}
                    <p class="display-4 mt-5 mb-4">{{ greet_user }}
                        <span class="text-info">{{ user }}</span>
                    </p>
                {% else %}
                    <p class="display-4 mt-5 mb-4">{{ greet_anon }}</p>
                {% endif %}

                <p class="mx-auto w-50">
                    {% for part in text %}
                        {{ part }}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

{% endblock %}