{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light" style="width: 400px;">
        <h1 class="my-4 text-center">{{ content.header }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">{{ content.username }}</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control bg-dark text-white" placeholder="{{ content.username }}" title="" required="" id="id_username">
            </div>
            <div class="form-group">
                <label for="id_password">{{ content.password }}</label>
                <input type="password" name="password" autocomplete="current-password" class="form-control bg-dark text-white" placeholder="{{ content.username }}" title="" required="" id="id_password">
            </div>
            <div class="form-group text-center mt-4 p-3">
                <input class="btn btn-outline-primary" type="submit" value="{{ content.header }}">
            </div>
        </form>
    </div>

{% endblock %}