{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block body %}

    <div class="container wrapper flex-grow-1 mt-5 bg-dark text-light">
        <h1 class="my-4">{% trans 'Task preview' %}</h1>
        <div class="card">
            <div class="card-header bg-dark text-info border-bottom">
                <h2 class="mb-1">{{ task.name }}</h2>
            </div>
            <div class="card-body bg-dark">
                <p>{{ task.description }}</p>
                <hr class="bg-secondary">
                <div class="container">
                    <div class="row p-1">
                        <div class="col">{% trans 'Author' %}</div>
                        <div class="col">{{ task.author }}</div>
                    </div>
                    <div class="row p-1">
                        <div class="col">{% trans 'Executor' %}</div>
                        <div class="col">{{ task.executor }}</div>
                    </div>
                    <div class="row p-1">
                        <div class="col">{% trans 'Status' %}</div>
                        <div class="col">{{ task.status }}</div>
                    </div>
                    <div class="row p-1">
                        <div class="col">{% trans 'Created at' %}</div>
                        <div class="col">{{ task.created_at|date:"d.m.Y H:i" }}</div>
                    </div>

                    <div class="row p-1">
                        <div class="col">
                            <h6>{% trans 'Labels:' %}</h6>
                            <ul>
                                {% for label in task.labels.all %}
                                <li>{{ label.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row p-2 mt-2 d-flex justify-content-end">
                        {% trans 'Edit' as edit_btn %}
                        {% url 'task_update' task.id as update_url %}
                        {% bootstrap_button edit_btn button_class="btn btn-outline-primary mr-2" href=update_url %}

                        {% trans 'Delete' as delete_btn %}
                        {% url 'task_delete' task.id as delete_url %}
                        {% bootstrap_button delete_btn button_class="btn btn-outline-danger" href=delete_url %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}